[submodule "/home/bjtucs/Desktop/Ming-18811237867/new/WinMutASE21Artifact-main/experiments/tool"]
	path = /home/bjtucs/Desktop/Ming-18811237867/new/WinMutASE21Artifact-main/experiments/tool
	url = https://github.com/Ming-3364/WinMut-TOOL
